body {}

.mRight {
    margin: 10px;
    padding: 10px;
}
.headerEffects {
    background-color:#CAEBF2;
}
.jumbotron1 {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #f9f9f9;
    text-align: center;
    
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-image: url("/frontend/images/GFheader.jpg");
}

.headerFont {
    font-size: 250%;
}